<h1>Nouveau message de contact</h1>
<h1>Sujet: {{subject_contact}}</h1>
<ul>
  <li><strong>Nom :</strong> {{last_name}}</li>
  <li><strong>Prénom :</strong> {{first_name}}</li>
  <li><strong>Email :</strong> {{email}}</li>
  <li><strong>Message :</strong> {{message}}</li>
</ul>