 <h1>Merci de postuler !</h1>
  <p>Cher(e) {{firstName}} {{lastName}},</p>
  <p>Nous vous remercions de l'intérêt que vous portez à rejoindre l'équipe VictoryZone. Nous avons bien reçu votre candidature et nous l'examinerons dans les plus brefs délais.</p>
  <p>Voici les détails que vous avez fournis :</p>
  <ul>
    <li><strong>Nom :</strong> {{firstName}}</li>
    <li><strong>Prénom :</strong> {{lastName}}</li>
    <li><strong>Email :</strong> {{email}}</li>
  <p>Si votre candidature répond à nos critères, nous vous contacterons prochainement.</p>
  <p>Cordialement, La team victoryzone</p>
  <p>La Direction</p>
